
<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span><b>GET IN TOUCH</b></span>
      </h2>
      <!-- //tittle heading -->
      <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-map-marker-alt rounded-circle"><img src="https://cdn-icons-png.flaticon.com/128/447/447031.png" height="20%" width="20%"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
            <p style="font-weight: bold;color:black;">WellPharma
              <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;">#19, Bishop Gardens,Gamdevi,Marol Andheri (E), Mumbai-59</a></label>
            </p><br><br>
            <p style="font-weight: bold;color:black;">WellPharma Headoffice
                <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;">#50,Raja Annamalaipuram,Chennai,Tamil Nadu-600208</a></label>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-phone rounded-circle"><img src="https://static.vecteezy.com/system/resources/previews/008/506/400/original/telephone-contact-icon-in-black-circle-shape-free-png.png" height="20%" width="20%"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
            <p style="font-weight: bold;color:black;">WellPharma Headoffice</p>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:red;" href="tel:+1800 120 1193">1800 120 1193</a>
            </p>
            <p style="font-weight: bold;color:black;">WellPharma 24/7 Service</p>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:red;" href="tel:+1800 120 1193">1800 120 2006</a>
            </p>
            <p style="font-weight: bold;color:black;">WellPharma Emergency</p>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:red;" href="tel:+1800 120 1193">1800 120 2897</a>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-envelope-open rounded-circle"><img src="https://cdn-icons-png.flaticon.com/512/2594/2594213.png" height="20%" width="21%"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
        
                <p style="font-weight: bold;color:black;">Enquiry Purpose </p>
              <a style="font-weight: bold;color:blue;" href="mailto:wecare@edubridgeindia.in">wellcare@wellpharma.in</a>
        
            <p>
                <p style="font-weight: bold;color:black;">Service Purpose</p>
                <a style="font-weight: bold;color:blue;" href="mailto:wecare@edubridgeindia.in">wellservice@wellpharma.in</a>
        
            <p>
                <p style="font-weight: bold;color:black;">Payment Issue Purpose</p>
                <a style="font-weight: bold;color:blue;" href="mailto:wecare@edubridgeindia.in">wellpayment@wellpharma.in</a>

          </div>
        </div>
      </div>