/* table tr td img{
    height:200px;
    width:200px;

} */
.centered {
    display: flex;
    justify-content: center;
}
.container 
{
    width: 50%;
    height: 40%;
}
.img-fluid
{
    
    height: 70%;
    width: 70%;
}
.row
{
    margin: 20px;
}
/* .col-2
{
    width: 60%;
   
} */
/* .card
{
    background-color:burlywood;
} */
.card
{
    background: radial-gradient(circle, rgba(240,248,255,1) 18%, #a2eaf9 100%);
}