<br />
<br />
<div *ngIf="!isShowChangePassword" class="forgot-password">
    <img src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color/254000/46-512.png" height="20%" width="20%">
    <h4><b>FORGOT <br> PASSWORD</b></h4>
    <p>Provide your account's email for which you want to <br> reset your password!</p>
    <br />
    <table>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Email</td>
            <td><input class="form-control" type="text" [(ngModel)]="email" /></td>
        </tr>
    </table>
    <br />
    &nbsp;&nbsp;<button class="btn btn-primary mb-3" (click)="onSubmit()">Submit</button>
</div>
<div *ngIf="isShowChangePassword" class="forgot-password">
    <h4><b>CHANGE PASSWORD</b></h4>
    <br />
    <table>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter New Password</td>
            <td><input class="form-control" type="password" [(ngModel)]="newPassword" /></td>
        </tr>
    </table>
    <br />
    <button class="form-select" (click)="onChangePassword()">Submit</button>
</div>