<div class="home-component-1">
  <h2>Say GoodBye to high medicine prices</h2>
  <p>Compare prices and save upto 51%</p>
  <!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-light" type="button" id="button-addon2">Search</button>
  </div> -->
</div>
<br><br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/sliderimg1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/sliderimg2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/sliderimg3.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid">
    <h4><b>Featured Products</b></h4>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/card1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Johnson's Baby Lotion</h5>
              <p class="card-text">We understand baby’s delicate skin loses moisture faster and more easily throughout the day.
                That’s why we have designed the JOHNSON’S® baby lotion.</p>
              <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 129/-</span>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Crocin Pain Relief</h5>
              <p class="card-text">It is primarily used to treat mild to moderate pain, including headache, backache, migraine, rheumatic and muscle pain. Crocin Pain Relief contains paracetamol and caffeine.</p>
              <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 69/-</span>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Healthvit Mulvit</h5>
              <p class="card-text">Balanced combination of vitamin and minerals help in building stamina, energy, and immunity and that keeps body alert and active all time.</p>
              <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 599/-</span>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/card4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Otrivin Breathe Clean</h5>
              <p class="card-text">It contains Natural ingredients such as Sea Salt Solution and Natural Glycerin. Otrivin Breathe Clean washes pollutants and germs from the nose.</p>
              <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 79/-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid">
  <h4><b>New Arrivals</b></h4>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/card1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Johnson's Baby Lotion</h5>
            <p class="card-text">We understand baby’s delicate skin loses moisture faster and more easily throughout the day.
              That’s why we have designed the JOHNSON’S® baby lotion.</p>
            <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 129/-</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/card2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Crocin Pain Relief</h5>
            <p class="card-text">It is primarily used to treat mild to moderate pain, including headache, backache, migraine, rheumatic and muscle pain. Crocin Pain Relief contains paracetamol and caffeine.</p>
            <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 69/-</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/card3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Healthvit Mulvit</h5>
            <p class="card-text">Balanced combination of vitamin and minerals help in building stamina, energy, and immunity and that keeps body alert and active all time.</p>
            <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 599/-</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/card4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Otrivin Breathe Clean</h5>
            <p class="card-text">It contains Natural ingredients such as Sea Salt Solution and Natural Glycerin. Otrivin Breathe Clean washes pollutants and germs from the nose.</p>
            <span class="btn" (click)="gotourl('customer-login')">Buy Now</span><span style="float: right;">Rs 79/-</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<footer class="container-fluid p-5">
  <div class="row text-center">
    <div class="col-3">
      <h3>Company</h3>
      <ul class="list-unstyled text-center">
        <li><a href="#">Health Article</a></li>
        <li><a href="#">Need Help</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Our Services</h3>
      <ul class="list-unstyled text-center">
        <li><a href="#">Order Medicine</a></li>
        <li><a href="#">Healthcare Products</a></li>
        <li><a href="#">Lab Tests</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Policy info</h3>
      <ul class="list-unstyled text-center">
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Return Policy</a></li>
      </ul>
    </div>
    <div class="col-3">
      <h3>Follow us on</h3>
      <ul class="list-unstyled text-center">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instragram</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <span>&copy;2023 Well Pharma. All Rights Reserved.</span>
  </div>
</footer>