
<br /><br />
<div *ngIf="cartList.length===0" class="centered">
    No product available in cart
</div>
<div class="container">
    <div *ngFor="let cart of cartList">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <img [src]="cart?.product?.image" class="img-fluid" />
                </div>
                <div class="col-4">
                    <p style="font-weight: bold; font-size: x-large;">{{cart?.product?.productname}}</p>
                    <p  style="font-size: large;">MRP:- ₹{{cart?.mrpPrice}}</p>
                </div>
               <div class="col-4">
                <p>Quantity:- <button (click)="onIncreaseQunatity(cart)" class="btn btn-primary btn-sm">+</button>&nbsp;{{cart?.quantity}}&nbsp;<button (click)="onDecreaseQunatity(cart)" class="btn btn-primary btn-sm">-</button></p>
                <p>Total:-{{getTotal(cart?.quantity,cart?.mrpPrice)}}</p>
               </div>
            </div>
            <!-- <div class="row">
                <div class="col-8">
                    <p>Quantity</p><button (click)="onIncreaseQunatity(cart)" class="btn btn-primary">+</button>{{cart?.quantity}}<button (click)="onDecreaseQunatity(cart)" class="btn btn-primary btn-circle btn-sm">-</button>
                </div>
                <div class="col-4">
                   
                </div>
            </div> -->
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                <button (click)="deleteCart(cart)" mat-raised-button color="primary">Delete Cart</button>
            </div>
            <div class="col-4">
             
            </div>
            </div>
        </div>
        <br><br>
    </div>
    <!-- <div *ngIf="cartList.length>0" class="centered">
<table border="1">
    <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
        </tr>
    <tr *ngFor="let cart of cartList">
        <td>{{cart?.product?.productname}}</td>
        <td><img [src]="cart?.product?.image" /></td>
        <td><button (click)="onIncreaseQunatity(cart)" class="btn btn-primary btn-circle btn-sm">+</button>{{cart?.quantity}}<button (click)="onDecreaseQunatity(cart)" class="btn btn-primary btn-circle btn-sm">-</button></td>
        <td>{{cart?.mrpPrice}}</td>
        <td>{{getTotal(cart?.quantity,cart?.mrpPrice)}}</td>
        <td><button (click)="deleteCart(cart)" mat-raised-button color="primary">Delete Cart</button></td>
        


    </tr>
</table>

</div> -->
    <br />
    <div class="centered" *ngIf="cartList.length!==0">
        <b>Grand Total: </b>&nbsp;&nbsp;{{grandTotal}} &nbsp;&nbsp;<button (click)="placeOrder()" mat-raised-button
            color="primary">Place Order</button>
    </div>