
table tr td img{
    height:200px;
    width:200px;
    

}
.centered {
    display: flex;
    justify-content: center;
}
.mat-icon {
    font-size: 22px;
    height: 22px ;
    width: 22px;
    cursor: pointer;
}

th, td{
    
    padding: 20px 20px;
   
}


.header {
    text-align: right;
    padding: 10px;
    height: 40px;
    
}

.scroll {
    height: calc(100% - 40px);
    overflow: auto;
}
.table
{
    border: 1px;
    text-align: center;
}
